/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #636363;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    position: relative;
}

.container {
    max-width: 1200px;
    margin: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn-gradient {
    padding: 20px 35px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
}

.btn-gradient:hover {
    background-position: right center;
}

.content__title p {
    font-size: 22px;
    font-weight: 600;
    color: #f55f8d;
    margin-bottom: 20px;
}

.content__title h2 {
    font-size: 70px;
    line-height: 1.2;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}


/************** CSS for HEADER **************/
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__content a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    margin-right: 30px;
}

nav li {
    padding: 55px 15px;
}

.header__content li a {
    color: #070120;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    transition: all .5s;
}

.header__content li>a span {
    display: inline-block;
}

.header__content li a:hover {
    color: #F55F8D;
}

.header__content li a:hover span {
    animation: rollingMenuTitle .3s linear;
}

.header__content i {
    font-size: 10px;
    margin-top: -3px;
    vertical-align: middle;
}

@keyframes rollingMenuTitle {
    49% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}


/************** CSS for CAROUSEL **************/
.samarCarousel {
    padding-top: 180px;
    overflow: hidden;
    background-image: url(../img/pic2.png);
    background-position: top;
    background-size: 100%;
}

.samarCarousel__content {
    display: flex;
    align-items: center;
}

.samarCarousel .content__left {
    width: 60%;
}

.samarCarousel .content__right {
    width: 40%;
}

.samarCarousel__content ul {
    margin-bottom: 20px;
}

.samarCarousel__content li {
    padding: 10px 5px 10px 0;
    font-size: 20px;
}

.samarCarousel__content li i {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    text-align: center;
    font-size: 24px;
    color: #fff;
    line-height: 35px;
    margin-right: 10px;
}

.samarCarousel__content .content__right .content__banner {
    width: 580px;
    margin-left: 45px;
}

.samarCarousel__content .content__right img {
    max-width: 100%;
    display: block;
}

/************** CSS for SERVICES **************/
.services {
    padding-top: 120px;
    padding-bottom: 0;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
}

.service__categories {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.service__item {
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 40px;
    transform: translateY(0);
    transition: all .5s;
}

.service__item:hover {
    transform: translateY(-20px);
}

.service__item h3 {
    margin: 15px 0;
    font-size: 24px;
    color: #262626;
    font-weight: 700;
}

.service__item img {
    width: 210px;
}

/************** CSS for ABOUTUS **************/
.aboutUs {
    background-image: url(../img/bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
    padding-top: 120px;
    padding-bottom: 90px;
    overflow: hidden;
}

.aboutUs__content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.aboutUs__contentLeft {
    width: 60%;
    position: absolute;
    left: -17%;
}

.aboutUs__contentLeft img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.aboutUs__contentRight {
    width: 50%;
}

.aboutUs__contentRight p {
    margin-bottom: 20px;
}

.aboutUs__contentRight ul {
    margin-bottom: 30px;
}

.aboutUs__contentRight i {
    font-size: 24px;
    color: #f55f8d;
    margin-right: 10px;
    vertical-align: middle;
}

/************** CSS for NUMBER **************/
.number {
    background-image: url(../img/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 0 50px;
    text-align: center;
}

.number__content {
    display: flex;
    justify-content: space-around;
}

.number__item {
    width: calc(100% / 4);
}

.number__item i {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 40px;
    border-radius: 50%;
    color: #fff;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    display: inline-block;
    margin-bottom: 20px;
}

.number__item p:first-of-type {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.number__item p:last-of-type {
    color: #262626;
    font-size: 18px;
}


/************** CSS for PLAN **************/
.plan {
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 120px;
}

.plan__group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.plan__item {
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
    border-image: 100 round;
    transition: all .5s;
}

.plan__item:hover {
    border-image: url(../img/br.png) 1 round;
}

.plan__item h3 {
    font-weight: 700;
    color: #262626;
    font-size: 32px;
}

.plan__item img {
    width: 125px;
}

.plan__item p,
.plan__item li {
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}

.plan__item span {
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}

.plan__item ul {
    text-align: left;
    padding: 15px 0;
    border-top: 1px solid #e1e1f0;
}

.plan__item li {
    padding: 5px 0;
    font-weight: 400;
}

.plan__item i {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    background-color: #feeff3;
    color: #f55f8d;
    font-size: 12px;
    border-radius: 100%;
    margin-right: 15px;
}

/************** CSS for BLOG **************/
.blog {
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 120px;
}


/************** CSS for FOOTER **************/
footer {
    background-image: url(../img/bg4.png);
    display: block;
    position: relative;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0e1b1f;
    background-size: contain;
    color: #fff;
    font-size: 15px;
}


footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__top {
    position: relative;
    display: flex;
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(../img/pattern3.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.footer__form,
.footer__text {
    width: 50%;
}

.footer__text h2 {
    font-size: 28px;
    color: #262626;
}

.footer__form form {
    display: flex;
    border-radius: 8px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer__form form input {
    padding: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background: #fff;
    flex: 1 1 auto;
    border-radius: 8px 0 0 8px;
    border: 1px solid #fff;
    transition: all .5s;
}

.footer__form form button {
    padding: 20px 40px;
    font-size: 20px;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    border-color: transparent;
    transition: all .5s;
    border-radius: 0 8px 8px 0;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.footer__form input:focus,
.footer__form input:hover {
    border-color: #f55f8d!important;
}


.footer__form button:hover {
    background-position: right center;
}

.footer__bottom {
    display: flex;
    position: relative;
    padding: 70px 0;
}

.footer__item {
    width: calc(100% / 4);
}

.footer__item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    color: #fff;
    position: relative;
}

.footer__item h3::before,
.footer__item h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}

.footer__item h3::before {
    width: 15px;
}

.footer__item h3::after {
    width: 45px;
    left: 20px;
}

.footer__contact li {
    padding: 8px 0;
    display: flex;
    align-items: center;
}

.footer__contact i {
    display: block;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 10px;
    text-align: center;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
}

.footer__item a {
    color: #636363;
    font-size: 16px;
    transition: all .5s;
}

.footer__item a:hover {
    color: #fff;
}

.footer__item li {
    padding: 8px 0;
}

.footer__item i {
    font-weight: 700;
    margin-right: 10px;
}

.footer__copyright {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__left span {
    color: #f55f8d;
}

.footer__copyright a {
    height: 32px;
    width: 32px;
    line-height: 32px;
    border-radius: 50px;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    transition: all .5s;
}

.footer__copyright a:hover {
    background: #f55f8d;
}

/************** CSS for BACKTOTOP **************/
.backToTop {
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    line-height: 50px;
    background: #f55f8d;
    box-shadow: -4px 4px 24px -10px #f55f8d;
    text-align: center;
    display: block;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}